<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--使用變數定義檔-->
  <!--<include file="${basedir}/NLog.Var.config"/>-->
  <!--發信資料設定-->
  <variable name="smtpServer" value="" />
  <variable name="smtpUserName" value="raychang" />
  <variable name="smtpPassword" value="" />
  <variable name="smtpAuthentication" value="Basic" />
  <variable name="mailFrom" value="raychang@richitech.com.tw " />
  <variable name="mailTo" value="raychang@richitech.com.tw " />
  <!--不同層級層級處理方式-->
  <targets>
    <!--寫入檔案-->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" encoding="UTF-8"
              layout="${longdate} ${logger} ${threadname} ${uppercase:${level}} ${message}" />
    <!--寄信-->
    <target xsi:type="Mail" name="MailBuffer" smtpserver="${smtpServer}" smtpUserName="${smtpUserName}" smtpPassword="${smtpPassword}" smtpAuthentication="${smtpAuthentication}"
            from="${mailFrom}" to="${mailTo}" subject="排程程式 - ${level}"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadname}|${message}${newline}" />
    <!--輸出-->
    <target name="Trace" xsi:type="Console" layout="${logger} ${threadname} ${level:uppercase=true}: ${message}" />
    <!--寫入資料庫-->
    <!--<target xsi:type="Database" name="db"
              connectionString="data source=(localdb)\v11.0;database=LogDB; trusted_connection=true;"
              commandText="INSERT INTO NLog_Error(ThreadId, MachineName, LogName, LogLevel, LogMessage, CallSite, Exception, Stacktrace) VALUES (@ThreadId, @MachineName, @LogName, @LogLevel, @LogMessage, @CallSite, @Exception, @Stacktrace);">
      <parameter name="@ThreadId" layout="${threadid}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@LogName" layout="${logger}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@LogMessage" layout="${message}"/>
      <parameter name="@CallSite" layout="${callsite:filename=true}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeto="MailBuffer" />
    <logger name="*" minlevel="Trace" writeto="Trace" />
    <!--<logger name="*" minlevel="Trace" writeTo="db" />-->
  </rules>
</nlog>