<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--Debug-->
  <variable name="smtpServer" value="" />
  <variable name="smtpUserName" value="" />
  <variable name="smtpPassword" value="" />
  <variable name="smtpAuthentication" value="Basic" />

  <variable name="mailFrom" value="raychang@richitech.com.tw" />
  <variable name="mailTo" value="raychang@richitech.com.tw" />
</nlog>